<div class="container-fluid">
  <ng-container *ngIf="board; else loading">
    <app-deck-list [decks]=board.decks></app-deck-list>
  </ng-container>
  <div class="row">
    <div class="col-12 pt-3 text-center">
      <button class="btn btn-success mr-2" (click)="addNewDeck()">Add new deck</button>
      <button class="btn btn-info mr-2" (click)="sort()">Sort all</button>
      <button class="btn btn-danger" (click)="restart()">Restart game</button>
    </div>
  </div>

  <ng-template #loading>
    Loading Decks...
  </ng-template>
</div>
